
body{
    background-color: beige;
    max-height: fit-content;
    max-width: fit-content;
}
#buttonBox{
    padding: 10px;
background-color: gray;
display: flex;
align-items: center;
justify-content: left;
width: max-content;
border-style: solid;
border: 5px;
border-color: black;
}
#friendOrFoe{
padding: 10px;
background-color: lightgray;
display: flex;
align-items: center;
justify-content: left;
width: max-content;
border-style: solid;
border: 5px;
border-color: black;


}
#container{
    display: flex;
    
    justify-content:space-around;
    align-items:flex-end;
    border-style: inset;
    border-color: black;
    
    
}
#map { 
    margin:auto;
    height:90vh; 
    width:80vw;
    background-color: transparent;
    border-radius: 90%;
    border: 10px;
    
}